<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>

  <ion-row>
    <ion-col>
      <button ion-button full (click)="captureAudio()">Capturar Audio</button>        
    </ion-col>      
  </ion-row>

  <ion-list>
    <ion-item *ngFor="let file of mediaFiles" tappable (click)="playFile(file)" text-wrap>
        {{ file.name}}
        <p> {{ file.size / 1000 / 1000 | number }} MB</p>
    </ion-item>
  </ion-list>
  
</ion-content>
